__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.swp
*.cache
*.egg-info/
.env
venv/
env/
.venv/
.DS_Store
Thumbs.db
instance/
*.log
*.pid
.pyenv/

data/raw_images/
data/output/csv/
data/output/json/
data/output/img_clustered/
data/output/crops/
data/output/**/*.bak
data/output/**/*.tmp

node_modules/
dist/
build/

.vscode/
*.code-workspace
.idea/
*.iml

out/
target/

docker-compose.override.yml
.docker/
